#button1
{
    margin-left: 15in;
}
#button2
{
    margin-left: 15in;
}
#by1
{
    margin-bottom: 0in;
}
#title
{
    margin-bottom: 50in;
}
.buttons
{
    margin-left: 0.5in;
    margin-right: 1in;
}